{% extends "authentication/base.html" %}
{% load django_bootstrap5 %}

{% block content %}
<div class="row align-items-start mt-4">
    
    <div class="col-md-6 text-center">
        <h2 class="h4 mb-2 p-3">Inscrivez-vous maintenant</h2>
        <a href="{% url 'sign-in' %}" class="btn btn-outline-success px-3">S'inscrire</a>
    </div>
    <div class="col-md-6 ps-md-4">
        <h2 class="h4 text-center mb-4">Connectez-vous</h2>
        <form method="POST">
            {% csrf_token %}
            {% bootstrap_form form %}

            <div class="text-center">
                <button type="submit" class="btn btn-outline-success px-3">Se connecter</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}