{% extends "authentication/base.html" %}

{% block content %}
    <h2 class="mb-4 text-center">Créer un compte</h2>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="text-center mt-4">
                    <button type="submit" class="btn btn-outline-dark">Valider l'inscription</button>
                </div>
            </form>
            <div class="text-center mt-3">
                <a href="{% url 'login' %}" class="text-dark">Déjà un compte ? Se connecter</a>
            </div>
        </div>
    </div>
{% endblock %}