.main-content {
    width: 1300px;
    margin: 0 auto;
    position: center;
}


.logout-form {
    display: inline;
}

/* .btn-critique{
    
} */

.ticket-review {
    width: 800px;
    content: center;
}
