<div class="card text-dark bg-light w-75 m-2">
    <div class="card-body">
        <div class="mb-1">
            
            <!-- Handling txt -->
            <span>{% if review.user == request.user %}Vous avez{% else %}{{ review.user }} a{% endif %} publié une critique</span>
            
            <!-- Date -->
            <small class="d-block text-end fs-sm">{{ review.time_created|date:"H:i, j N Y" }}</small>
        </div>
        
        <!-- Description and rating -->
        <p class="mb-2">
            <span class="h5">{{ review.headline }}</span>  -
            {% for i in "01234"|make_list %}{% if forloop.counter0 < review.rating %}★{% else %}☆{% endif %}{% endfor %}
            <div>{{ review.description }}</div>
        </p>

        <!-- Buttons logic-->
        {% if review.user == request.user and not has_review %}
            <div class="d-flex flex-row-reverse mt-2">
                <a href="{% url 'delete_review' review.id %}" class="btn btn-outline-dark mx-2">Supprimer</a>
                <a href="{% url 'update_review' review.id %}" class="btn btn-outline-dark mx-2">Modifier</a>
            </div>
        {% endif %}
        
        {% include "social_network/snippets/ticket_snippet.html" with ticket=review.ticket has_review=True %}
    </div>
</div>