<div class="card text-dark bg-light {% if request.path == feed_url %}w-75{% endif %} m-2">
    <div class="card-body">
        {% if not has_review %}
            <p>Vous avez publié un ticket</p>
        {% endif %}
        <!-- Ticket number -->
        <p class="mb-2">Ticket - {{ ticket.user }}</p>
        
        {% if not has_review %}
            <small class="d-block text-end fs-sm">{{ ticket.time_created|date:"H:i, j N Y" }}</small>
        {% endif %}

        <!-- Title -->
        <p class="d-block mb-2">Titre : {{ ticket.title }}</p>
        
        
        <!-- Image -->
        {% if ticket.image %}
        <img src="{{ ticket.image.url }}" alt="{{ ticket.title }}" class="d-block mb-2" style="max-height: 200px;">
        {% endif %}
    
        {% comment %} <div class="text-end mt-2">
        {% if ticket.user != request.user %}
        <a href="#" class="btn btn-outline-dark btn-sm">Créer une critique</a>
        {% endif %}
        </div> {% endcomment %}
    </div>
</div>