{% load social_network_extras %}
<div class="card text-dark bg-light w-75 m-2">
    <div class="card-body">
        {% if not has_review %}
            <span>{% if ticket.user == request.user %}Vous avez{% else %}{{ ticket.user }} a{% endif %} demandé une critique</span>
        {% endif %}
        <!-- Ticket number -->
        <p class="mb-2">Ticket - {{ ticket.user }}</p>
        
        {% if not has_review %}
            <small class="d-block text-end fs-sm">{{ ticket.time_created|date:"H:i, j N Y" }}</small>
        {% endif %}

        <!-- Title -->
        <p class="d-block mb-2">Titre : {{ ticket.title }}</p>

        <!-- Description -->
        {% if ticket.description %}
        <p class="d-block mb-2">{{ ticket.description }}</p>
        {% endif %}

        <!-- Image -->
        {% if ticket.image %}
        <img src="{{ ticket.image.url }}" alt="{{ ticket.title }}" class="d-block mb-2" style="max-height: 200px;">
        {% endif %}

        <!-- Buttons logic-->
        {% if ticket.user == request.user and not has_review %}
            <div class="d-flex flex-row-reverse mt-2">
                <a href="{% url 'delete_ticket' ticket.id %}" class="btn btn-outline-dark mx-2">Supprimer</a>
                <a href="{% url 'update_ticket' ticket.id %}" class="btn btn-outline-dark mx-2">Modifier</a>
            </div>

        {% elif ticket.user != request.user and not has_review %}
            {% has_reviewed request.user ticket as already_reviewed %}
            {% if not already_reviewed %}
                <div class="d-flex flex-row-reverse mt-2">
                    <a href="{% url 'create_review' ticket.id %}" class="btn btn-outline-dark mx-2">Créer une critique</a>
                </div>
            {% endif %}
        {% endif %}
    </div>
</div>
