{% extends "base.html" %}

{% block body %}
<div class="container my-4">
    <div class="border border-dark rounded-2">

        <header class="d-flex justify-content-between align-items-center border-bottom border-dark px-3">
            <div style="width: 265px;" class="d-flex align-items-center px-3">
                <span class="fw-semibold">Bonjour {{ request.user.username }}</span>
            </div>
            <h1 class="p-2 mb-0">LitReview</h1>
            <nav class="d-flex align-items-center">
                {% with current_url=request.path %}
                    {% url "feed" as url_feed %}
                    {% url "home" as url_home %}
                    {% url "followers" as url_followers %}
                    <a href="{{ url_feed }}" class="btn btn-hover {% if current_url == url_feed %}bg-secondary text-white{% endif %}">Flux</a>
                    <a href="{{ url_home }}" class="btn btn-hover {% if current_url == url_home %}bg-secondary text-white{% endif %}">Posts</a>
                    <a href="{{ url_followers }}" class="btn btn-hover {% if current_url == url_followers %}bg-secondary text-white{% endif %}">Abonnements</a>
                {% endwith %}
                <form class="d-inline p-2" method="POST" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit" class="btn p-0 border-0 bg-transparent text-danger">
                        <i class="bi bi-power" style="font-size: 24px;"></i>
                    </button>
                </form>
            </nav>
        </header>

        <main class="p-4">
            {% block main %}
            {% endblock %}
        </main>

    </div>
</div>
{% endblock %}