{% extends "social_network/base.html" %}

{% block title %}Accueil{% endblock %}

{% block main %}

<!-- Buttons on top of the feed -->
<div class="d-flex justify-content-center gap-3 mb-3">
    <a href="{% url 'create_ticket' %}" class="btn btn-outline-dark border border-dark">Demander une critique</a>
    <a href="{% url 'create_ticket_and_review' %}" class="btn btn-outline-dark border border-dark">Faire une critique</a>
</div>

<div class="d-flex flex-column justify-content-center align-items-center p-2">
    {% for post in posts %}
        {% if post.content_type == 'TICKET' %}
            {% include 'social_network/snippets/ticket_snippet.html' with ticket=post %}
        {% elif post.content_type == 'REVIEW' %}
            {% include 'social_network/snippets/review_snippet.html' with review=post %}
        {% endif %}
    {% endfor %}
</div>
{% endblock %}