{% extends "social_network/base.html" %}
{% load static %}

{% block title %}Accueil{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static "social_network/feed.css" %}" />
{% endblock %}

{% block main %}
<div class="p-5">
    Bonjour <b>{{ request.user }}</b>
    {{ posts.len }}

    {% for post in posts %}
        {% if post.content_type == 'TICKET' %}
            {% include 'social_network/snippets/ticket_snippet.html' with ticket=post %}
        {% elif post.content_type == 'REVIEW' %}
            {% include 'social_network/snippets/review_snippet.html' with review=post %}
        {% endif %}
    {% endfor %}
</div>
{% endblock %}