{% extends "social_network/base.html" %}
{% load static %}

{% block title %}Accueil{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static "social_network/feed.css" %}" />
{% endblock %}

{% block main %}

<div class="d-flex justify-content-center gap-3 mb-3">
    <button class="btn btn-outline-dark border border-dark btn-critique">Demander une critique</button>
    <button class="btn btn-outline-dark border border-dark btn-critique">Faire une critique</button>
</div>
<div class="d-flex flex-column justify-content-center align-items-center p-2">
    {% for post in posts %}
        {% if post.content_type == 'TICKET' %}
            {% include 'social_network/snippets/ticket_snippet.html' with ticket=post %}
        {% elif post.content_type == 'REVIEW' %}
            {% include 'social_network/snippets/review_snippet.html' with review=post %}
        {% endif %}
    {% endfor %}
</div>
{% endblock %}